@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Press Start 2P";
}

#container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "sidebar main";
  width: 90vw;
  height: 95vh;
  margin: 2em;
  padding: 0 2em;
  border: 1px green solid;
  border-radius: 5px;
}

#main {
  grid-area: main;
}

#new-message {
  position: fixed;
  bottom: 0;
  width: 65%;
  height: 7em;
  padding: 1em;
  margin-left: 0px;
  border-top: 1px solid #3f3f3f;
}

.new-message {
  width: 100%;
  height: 60%;
}

#messages-list {
  padding: 5px 0 0 5px;
  padding-top: 1em;
}

#sidebar {
  grid-area: sidebar;
  padding: 5px 0 0 5px;
  border-right: 1px solid #3f3f3f;
  height: 100%;
  padding-top: 1em;
}